# Parallels Tools for Linux
#
# Copyright (c) 1999-2015 Parallels International GmbH.
# All rights reserved.
# http://www.parallels.com

[Desktop Entry]
Version=13.2.0.43213
Encoding=UTF-8
Name=Parallels Control Center
Type=Application
Exec=/usr/bin/prlcc
X-KDE-autostart-phase=1
GenericName[en_US]=
